*{
    margin:0;
    padding:0;
    font-family: 'Microsoft YaHei';
}
.siter_wrap{
    width: 100%;
    height: 3.35rem;
    background: url(../img/bj-tx.png) 100% 100%;
    background-size: cover;
    padding: 0.1px;
}
.siter_ul{
    width: 100%;
    height: 3rem;
    background-color: #fff;
    margin: 0.5rem auto;
}
.siter_ul li{
    width: 92%;
    height: 49%;
    margin: 0 auto;
    border-bottom: 0.055rem  solid #F3F6F5;
    cursor: pointer;
}
.siter_ul li img:nth-of-type(1){
    width: 0.55rem;
    height: 0.55rem;
    float: left;
    margin-top: 0.5rem;
}
.siter_ul li img:nth-of-type(2){
    width: 0.25rem;
    height: 0.5rem;
    float: right;
    margin-top: 0.5rem;
}
.siter_ul li p{
    font-size: 0.4rem;
    color: #666666;
    padding-top: 0.5rem;
    margin-left: 0.2rem;
    float: left;
}
.siter_active{
    width: 100%;
}
.siter_active li{
    height: 4rem;
    cursor: pointer;
}
.siter_active li img{
    width:100%;
    height: 100%;
}
.check_more{
    width: 100%;
    height: 1rem;
    background-color: #fff;
    text-align: center;
    font-size: 0.38rem;
    line-height: 1rem;
    color: #A2A2A2;
    cursor: pointer;
}

.siter_per_left img{
    width: 1.82rem;
    height: 1.82rem;
    border-radius: 1.5rem;
    margin-top: 0.8rem;
    margin-left: 0.43rem;
    float: left;
}
.siter_name_wrap{
    width: 3.5rem;
    height: 3.35rem;
    /* background-color: pink; */
    margin-left: 2.7rem;
    padding: 0.1px;
}
.siter_name_wrap img{
    width: 0.8rem;
    height: 0.8rem;
    float: left;
    margin-top: 0.9rem;
}
.siter_name_wrap p:nth-of-type(1){
    margin-top: 1rem;
    color: #fff;
    font-size: 0.45rem;
    float: left;
}
.siter_name_wrap span{
    float: left;
    font-size: 0.2rem;
    color:  rgba(255,255,255,0.8);
}
.jue_se{
    display: block;
    width: 1.8rem;
    height: 0.4rem;
    background: -webkit-linear-gradient(360deg, #86BEF6 0%, #5790EB 48%, #4F88E9 100%);
    background: -moz-linear-gradient(360deg, #86BEF6 0%, #5790EB 48%, #4F88E9 100%);
    background: -o-linear-gradient(360deg, #86BEF6 0%, #5790EB 48%, #4F88E9 100%);
    background: linear-gradient(360deg, #86BEF6 0%, #5790EB 48%, #4F88E9 100%);
    border-radius: 0.2rem;
    font-size: 0.25rem;
    text-align: center;
    float: left;
    color: rgba(255,255,255,0.8);
    margin-top: 0.3rem;
    line-height: 0.4rem;
}
.siter_people{
    float: right;
    margin-top: -1.2rem;
    margin-right: 0.5rem;
}
.siter_people span{
    color: rgba(255,255,255,0.8);
}   
.siter_people span:nth-of-type(1){
    font-size: 0.55rem!important;
    color: #fff;
}




