*{
    margin:0;
    padding:0;
    font-family: 'Microsoft YaHei';
}
.disable{
    pointer-events:none; 
}

.banner_wrap{
    width: 100%;
    height: 4rem;
    text-align: center;
}
.banner_wrap img{
    width: 100%;
    height: 100%;
    margin-top: -0.35rem;
}
.banner_wrap p{
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    top: 5%;
    left: 33%;
}
.site_msg_wrap,.people_wrap{
    width: 100%;
    height: 3rem;
    border-radius: 0.7rem 0.7rem 0 0;
    background-color: #fff;
    margin-top: -0.9rem;
    position: absolute;
}
.site_msg_wrap li,.people_wrap li{
    width: 92%;
    height: 1.7rem;
    margin: 0 auto;
    border-bottom: 0.02rem solid #EBEBEB;
}
.site_msg_wrap li:nth-of-type(1),.people_wrap li:nth-of-type(1){
    margin-top: 0.2rem;
}
.site_msg_wrap li p{
    float: left;
    line-height: 1.5rem;
    color: #333333;
    font-size: 0.4rem;
    text-align: left;
}
.site_msg_wrap li img{
    float: right;
    width: 0.25rem;
    height: 0.4rem;
    margin-top: 0.45rem;
}

.people_left{
    width: 90%;
    height: 100%;
    float: left;
}
.people_wrap img{
    width: 0.5rem;
    height: 0.8rem;
    float: right;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
}
.people_left img{
    width: 1.07rem;
    height: 1.07rem;
    border-radius: 0.7rem;
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}
.people_left p{
    font-size: 0.38rem;
    color: #333333;
    line-height: 0.6rem;
    text-align: left;
}
.people_left p:nth-of-type(1){
    margin-top: 0.3rem;
}
.people_left p:nth-of-type(2){
    color:  #999999;
    font-size: 0.3rem;
}