*{
    margin:0;
    padding:0;
    font-family: 'Microsoft YaHei';
}
html,body{
    /* width:100%;
    height:100%; */
    /* background-color: red; */
    /* background: url(../img/bj.png)!important; */
    /* background-size: cover; */
}
.red_bj{
    width: 100%;
    height: 18rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/bj.png) 100% 100%;
    background-size: cover;
}
.red_bj img{
    width: 100%;
    height: 80%;
    margin-top: 2rem;
}
.logo_wrap, .get_red_wrap,.get_jiangli_wrap{
    width: 7rem;
    height: 10rem;
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: center;
}

.logo_wrap img{
    width: 2rem;
    height: 2rem;
}
.logo_wrap p:nth-of-type(1){
    color: #fff;
    font-size: 0.3rem;
}
.logo_wrap p:nth-of-type(2){
    color:  #FFDF38;;
    font-size: 0.75rem;
    margin-top: 1.3rem;
}
.logo_wrap p:nth-of-type(3),.get_red_wrap p:nth-of-type(2),.get_jiangli_wrap p:nth-of-type(2){
    width: 5rem;
    height:1.1rem;
    margin: 0 auto;
    background-color: #FFEA5E;
    color:#F1473E;
    font-size: 0.48rem;
    line-height: 1.1rem;
    border-radius: 0.7rem;
    margin-top: 0.4rem;
}
.logo_wrap p:nth-of-type(4),.get_red_wrap p:nth-of-type(3){
    box-sizing: border-box;
    width: 5rem;
    height:1.1rem;
    margin: 0 auto;
    background-color: rgba(225,225,225,0);
    color:#FFEA5E;
    border: 0.02rem solid #FFEA5E;
    font-size: 0.48rem;
    line-height: 1.1rem;
    border-radius: 0.7rem;
    margin-top: 0.4rem;
}

.get_red_wrap span:nth-of-type(1),.get_jiangli_wrap span:nth-of-type(2){
    font-size: 1rem;
    color:  #FFDF38;
    padding-right: 0.3rem;
}
.get_red_wrap span:nth-of-type(2),.get_jiangli_wrap span:nth-of-type(1),.get_jiangli_wrap span:nth-of-type(3){
    font-size: 0.4rem;
    color:  #FFDF38;
}
.get_red_wrap p:nth-of-type(1),.get_jiangli_wrap p:nth-of-type(1){
    font-size: 0.35rem;
    color:  #fff;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
}
.get_red_wrap p:nth-of-type(4),.get_red_wrap p:nth-of-type(5),.get_jiangli_wrap p:nth-of-type(3),.get_jiangli_wrap p:nth-of-type(4){
    font-size: 0.3rem;
    color: #FFD51F;
    margin-top: 0.2rem;
}

.share_bj{
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.30);
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.5rem;
    color: #fff;
    /* font-weight: bold; */
    letter-spacing: 0.02rem;
    line-height: 0.8rem;
}
.share_bj img{
    width: 2.6rem;
    height: 3.2rem;
    float: right;
    margin-right: 1rem;
}
.share_bj p:nth-of-type(1){
    margin-top: 60%;
    text-align: center;
}
