*{
    margin:0;
    padding:0;
    font-family: 'Microsoft YaHei';
}
.success_wrap,.fail_wrap{
    width: 92%;
    margin:0 auto;
    text-align: center;
}
.success_wrap img,.fail_wrap img{
    display: block;
    width: 1.75rem;
    height: 2rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.pay_des{
    color: #4285F4;
    font-size: 0.38rem;
    margin-top: 0.3rem;
}
.success_wrap ul,.fail_wrap{
    width: 100%;
    margin-top: 0.5rem;
    border-bottom: 0.02rem solid #E2E2E2;
}
.success_wrap ul li{
    height: 1.2rem;
    /* line-height: 1.3rem; */
}
.success_wrap ul li p:nth-of-type(1){
    float: left;
    color: #666666;
    font-size: 0.4rem;
    line-height: 1rem;
}
.success_wrap ul li div{
    width: 80%;
    height: 100%;
    float: right;
    text-align: center;
}
.success_wrap ul li div img{
    width: 0.65rem;
    height: 0.65rem;
    float: right;
    margin-top: 0.18rem;
    margin-right: 0.3rem;
}
.wechat_img p{
    float: right;
}
.fail_wrap{
    border: none;
}
.fail_money_box{
    text-align: center;
    border-bottom: 0.02rem solid #E2E2E2;
    margin-top: 0.5rem;
}
.fail_money_box span{
    float: left;
    margin-left: 33%;
    line-height: 1.2rem;
    font-size: 0.4rem;
    margin-right: 0.1rem;
    color: #4285F4;
}
.fail_money_box p:nth-of-type(1){
    font-size: 0.8rem;
    color: #4285F4;
    font-size: 26px;
}
.fail_money_box p:nth-of-type(2){
    color: #999999;
    margin:0.3rem 0 0.3rem 0;
    text-align: center;
}


.sure_pay{
    width: 4rem;
    height: 1.07rem;
    line-height: 1.07rem;
    text-align: center;
    font-size: 0.4rem;
    background: -webkit-linear-gradient(-90deg, #4189D0 0%,#5286EC 68%);
    background: -moz-linear-gradient(-90deg, #4189D0 0%,#5286EC 68%);
    background: -o-linear-gradient(-90deg, #4189D0 0%,#5286EC 68%);
    background: linear-gradient(-90deg, #4189D0 0%,#5286EC 68%);
    margin: 0 auto;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
    color: #fff;
}