.join_apply_wrap{
    width: 92%;
    margin: 0 auto;
}
.join_apply_wrap ul li{
    width: 100%;
    height: 2rem;
    border-bottom: 0.02rem solid #EBEBEB;
}
.join_apply_wrap ul li p{
    width: 100%;
    height: 1rem;
    font-size: 0.43rem;
    /* font-weight: 700; */
    color: #3877E9;
    text-align: left;
    line-height: 1.3rem;
}
.join_apply_wrap ul li input{
    width: 100%;
    height: 0.9rem;
    border: none;
    font-size: 0.38rem;
}
.join_apply_wrap ul li input::-webkit-input-placeholder{
    color: rgb(153,153,153,.8);
}
.join_apply_wrap ul li input::-moz-input-placeholder{
    color: rgb(153,153,153,.8);
}
.join_apply_wrap ul li input::-o-input-placeholder{
    color: rgb(153,153,153,.8);
}
.join_apply_wrap ul li input::input-placeholder{
    color: rgb(153,153,153,.8);
}

.join_check_box{
    width: 100%;
    height: 1rem;
}
.join_check_box span{
    display: inline-block;
    width: 22%;
    height: 78%;
    line-height: 0.85rem;
    border: 0.01rem solid #999999;
    float: left;
    margin:0.1rem 0.25rem 0 0;
    font-size: 0.38rem;
    color: #999999;
}
.join_submit_btn{
    width: 100%;
    height: 1.13rem;
    background:  -webkit-linear-gradient(-90deg, #4189D0 0%, #5286EC 68%);
    background:  -moz-linear-gradient(-90deg, #4189D0 0%, #5286EC 68%);
    background:  -o-linear-gradient(-90deg, #4189D0 0%, #5286EC 68%);
    background:  linear-gradient(-90deg, #4189D0 0%, #5286EC 68%);
    color: #fff;
    font-size: 0.4rem;
    line-height: 1.13rem;
    /* margin-top: 0.5rem; */
}
.join_on{
    color: #5286EC!important;
    border: 0.01rem solid #5286EC!important;
}