.month_bill_up{
    width: 100%;
    height: 2rem;
    background-color:#F3F6F5;;
}
.bill_up_left{
    width: 40%;
    float: left;
}
.bill_up_left p{
    float: left;
    font-size: 0.4rem;
    font-weight: 700;
    color: #333333;
    line-height: 2rem;
    margin-left: 0.5rem;
}
.bill_up_left img{
    width: 0.5rem;
    margin-top: 21%;
    margin-left: -15%;
}
.bill_up_right{
    width: 27%;
    height: 100%;
    float: right;
}
.bill_up_right p{
    display: block;
    width: 0.8rem;
    height: 0.5rem;
    float: left;
    margin-right: 0.5rem;
    color: #333333;
    font-size: 0.35rem;
    margin-top: 0.7rem;
    padding-bottom: 0.6rem;
}
.bill_on{
    color: #5286EC!important;
    border-bottom: 0.05rem solid #5286EC;
}
.bill_title{
    width: 89%;
    margin: 0.3rem auto;
    text-align: left;
}
.bill_title p{
    width: 100%;
    font-size: 0.35rem;
    color: #999999;
    /* text-align: left; */
    margin-top: 1.5rem;
}
.bill_title span:nth-of-type(1){
    font-size: 0.5rem;
    color: #333333;
}
.bill_title span:nth-of-type(2){
    font-size: 0.8rem;
    color: #333333;
}